<h1>Search Users</h1>

<form action="/find_user">
  <div>
    <label for="username_box">Username</label>
    <input id="username_box" name="query_username" placeholder="Enter a username..." type="text">
  </div>

  <button>
    Go to user profile
  </button>
</form>

<hr>

<p>
  Or, look through your <a href="/my_friends">friends</a> instead.
</p>

